test-color {
    color: rgba(97, 72, 155, 0.39);
}

.threejs-example {
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    position: relative;

    .position-button {
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
    }
    .position-input {
        position: absolute;
        top: 0;
    }
}

.example2 {
    height: 100%;
    display: flex;
    flex-flow: column;

    .container {
        width: 100%;
        flex: 1;
        canvas {}
    }
}